{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Display paragraph: If there are no games-->
    {% if not blog %}
    <p class="no-articles">No post`s yet</p>
    {% else %}
    <!-- Display div "game" with information about every game (if any)-->
    <section id="welcome-world">

        <!-- first game-->
        {% for blog in blog %}
        <div class="game">
            <div class="image-wrap">
                <!-- blog image -->
                <img class ="image-wrap" src="{{ blog.image_url }}"
                     alt="{{ blog.title }}">
            </div>
            <!-- game title -->
            <h3>{{ blog.title }}</h3>
            <!-- game category-->
            <h1>{{ blog.category }}</h1>
            <div class="data-buttons">
                <!-- game details button -->
                <a href="{% url 'blog-details' pk=blog.pk %}" class="btn details-btn">Details</a>
            </div>
        </div>
        {% endfor %}
    </section>
{% endif %}
{% endblock %}